In [1]:
import pandas as pd

data = {
    "name": ["Sayan", "Amit", "Riya"],
    "age": [20, 21, 19],
    "score": [85, 90, 88]
}

df = pd.DataFrame(data)

df

    name  age  score
0  Sayan   20     85
1   Amit   21     90
2   Riya   19     88

In [2]:
df["score"].mean()
df[df["score"] > 85]

   name  age  score
1  Amit   21     90
2  Riya   19     88