In [27]:
import pandas as pd

df =pd.read_csv("pokemon.csv", index_col="name")

print (df)

             id   type_1  type_2   hp  attack  defense  sp_atk  sp_def  speed
name
Bulbasaur     1    Grass  Poison   45      49       49      65      65     45
Ivysaur       2    Grass  Poison   60      62       63      80      80     60
Venusaur      3    Grass  Poison   80      82       83     100     100     80
Charmander    4     Fire     NaN   39      52       43      60      50     65
Charmeleon    5     Fire     NaN   58      64       58      80      65     80
...         ...      ...     ...  ...     ...      ...     ...     ...    ...
Dratini     147   Dragon     NaN   41      64       45      50      50     50
Dragonair   148   Dragon     NaN   61      84       65      70      70     70
Dragonite   149   Dragon  Flying   91     134       95     100     100     80
Mewtwo      150  Psychic     NaN  106     110       90     154      90    130
Mew         151  Psychic     NaN  100     100      100     100     100    100

[151 rows x 9 columns]

In [ ]:
print(df.head())
print(df.tail())

In [ ]:
print(f"Rows: {df.shape[0]}")
print(f"Column: {df.shape[1]}")
print(df.columns.tolist())
print(df.dtypes)
print(df.info())

In [ ]:
print(df.isnull().to_string())
count_missing=df[df["type_2"].isnull()]
print(f"Pokemon with no type2 {count_missing}")

In [32]:
# fire_type=df[df["type_1"]=="Fire"]
# print(fire_type)
# attcking_pokemon=df[df["attack"]>100]
# print(attcking_pokemon)
df['total']=df['attack']+df['defense']+df['speed']+df["sp_atk"]+df['sp_def']
print(df.head())
high_stat=df[df['total']>300]
print(high_stat)

            id type_1  type_2  hp  attack  defense  sp_atk  sp_def  speed  \
name
Bulbasaur    1  Grass  Poison  45      49       49      65      65     45
Ivysaur      2  Grass  Poison  60      62       63      80      80     60
Venusaur     3  Grass  Poison  80      82       83     100     100     80
Charmander   4   Fire     NaN  39      52       43      60      50     65
Charmeleon   5   Fire     NaN  58      64       58      80      65     80

            total
name
Bulbasaur     273
Ivysaur       345
Venusaur      445
Charmander    270
Charmeleon    347
             id   type_1  type_2   hp  attack  defense  sp_atk  sp_def  speed  \
name
Ivysaur       2    Grass  Poison   60      62       63      80      80     60
Venusaur      3    Grass  Poison   80      82       83     100     100     80
Charmeleon    5     Fire     NaN   58      64       58      80      65     80
Charizard     6     Fire  Flying   78      84       78     109      85    100
Wartortle     8    Water     NaN   59      63       80      65      80     58
...         ...      ...     ...  ...     ...      ...     ...     ...    ...
Moltres     146     Fire  Flying   90     100       90     125      85     90
Dragonair   148   Dragon     NaN   61      84       65      70      70     70
Dragonite   149   Dragon  Flying   91     134       95     100     100     80
Mewtwo      150  Psychic     NaN  106     110       90     154      90    130
Mew         151  Psychic     NaN  100     100      100     100     100    100

            total
name
Ivysaur       345
Venusaur      445
Charmeleon    347
Charizard     456
Wartortle     346
...           ...
Moltres       490
Dragonair     359
Dragonite     509
Mewtwo        574
Mew           500

[92 rows x 10 columns]